@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1f5fb2;
  --color-secondary: #485277;
  --color-accent: #d60b8b;
  --color-danger: #d60b0b;
  --color-muted: #5b646f;
  --color-highlight: #0b66d6;
  --color-body: #e0e7ff;
  --color-fg: #313131;
  --color-bg: #ffffff;
  --color-inverse: var(--color-bg);

  --color-border: #1a1a1a;
  --color-toolbar: #2b2b2b;
  --color-panel: #3c3c3c;

  --color-default-0: #090909;
  --color-default-1: #1a1a1a;
  --color-default-2: #2b2b2b;
  --color-default-3: #3c3c3c;
  --color-default-4: #4d4d4d;
  --color-default-5: #5e5e5e;
  --color-default-6: #6f6f6f;

  --color-text-primary: #ffffff;
  --color-text-secondary: #e7e7e7;

  --width-breakpoint: 768px;
}

body {
  font-weight: 100;
  -webkit-font-smoothing: "auto";
}

.canvas-container[data-selected="hand"] {
  cursor: grab;
}

.canvas-container[data-active="hand"] {
  cursor: grabbing;
}

.canvas-container[data-selected="brush"],
.canvas-container[data-selected="square"] {
  cursor: crosshair;
}

.canvas-container[data-selected="pointer"][data-option="moving"] {
  cursor: grabbing;
}

.canvas-container[data-selected="zoom"] {
  cursor: zoom-in;
}

canvas {
  background-color: "red";
}

input[type="text"] {
  @apply border border-transparent text-text-primary px-2 py-0.5 rounded bg-default-3 shadow-sm hover:border-white/10 focus-visible:border-highlight focus-visible:outline-none w-full;
}

button {
  @apply focus-visible:border focus-visible:border-highlight focus-visible:outline-none;
}

input.slider-input {
  @apply px-[26px] text-sm;
}

input.color-input {
  @apply pl-[26px] pr-1 text-sm max-w-24 rounded-r-none border-r-default-1;
}

input.alpha-input {
  @apply pr-[26px] text-sm rounded-l-none max-w-16;
}

input.app-text-input {
  @apply mt-1 block w-full px-4 py-3 bg-default-2 border border-default-3 rounded-md text-text-primary placeholder-white/70;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.center {
  @apply flex justify-center items-center;
}

.rc-slider-rail {
  @apply !bg-default-3;
}

.rc-slider-track,
.rc-slider-tracks {
  @apply !bg-white;
}

.color-picker .react-colorful {
  height: 290px;
  width: 220px;
}

.color-picker .react-colorful__hue {
  margin-top: 24px;
  margin-bottom: 16px;
}

.color-picker .react-colorful__alpha,
.color-picker .react-colorful__hue {
  height: 16px;
}

.color-picker .react-colorful__alpha,
.color-picker .react-colorful__hue,
.color-picker .react-colorful__saturation {
  @apply rounded-lg;
}

.color-picker .react-colorful__pointer {
  @apply cursor-pointer;
}

.flex-center {
  @apply justify-center items-center;
}

.animate-tail {
  animation: tail-animation 2s ease-out forwards;
}

@keyframes tail-animation {
  from {
    stroke-dashoffset: 490;
  }

  to {
    stroke-dashoffset: 0;
  }
}